//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Open Sans", sans-serif;
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1250;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #010a29;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	font-weight: 400;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	@media (max-width: 1440.98px) {
		max-width: 970px;
	}
	@media (max-width: $md3+px) {
		padding: 0px 20px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	padding-top: 110px;
	@media (max-width: 1440.98px) {
		padding-top: 105px;
	}
	@media (max-width: $md3+px) {
		padding-top: 60px;
	}
}
// ._scroll + .page {
// 	padding-top: 70px;
// 	@media (max-width: 1440.98px) {
// 		padding-top: 105px;
// 	}
// 	@media (max-width: $md3+px) {
// 		padding-top: 60px;
// 	}
// }
//===================================================================================================================================
/* Intro */
.intro {
	width: 100%;
	margin: 60px 0px 60px 0px;
	@media (max-width: $md2+px) {
		margin: 40px 0px 0px 0px;
	}
	@media (max-width: $md4+px) {
		margin: 50px 0px 0px 0px;
	}
	// .intro__wrapper
	&__wrapper {
		display: flex;
		width: 100%;
	}
	// .intro__content
	&__content {
		width: 100%;
		flex: 0 1 48%;
		padding: 164px 0px 0px 0px;
		@include adaptiv-value("margin-bottom", 120, 60, 0);
		@media (max-width: 1440.98px) {
			padding: 84px 0 0 0;
		}
		@media (max-width: $md2+px) {
			padding: 0;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: url("../img/intro/01.png") center bottom no-repeat;
				background-size: contain !important;
				opacity: 0.15;
			}
		}
	}
	// .intro__title
	&__title {
		margin: 0px 0px 25px 0px;
		font-weight: 700;
		font-size: 36px;
		line-height: 49/36 * 100%;
		color: #333333;
		@media (max-width: 1440.98px) {
			margin: 0px 0px 21px 0px;
			@include adaptiv-value("margin-bottom", 21, 16, 1);
			@include adaptiv-font(36, 24, 1);
		}
		span {
			display: block;
			margin: 0px 0px 10px 0px;
			font-weight: 600;
			font-size: 14px;
			line-height: 19/14 * 100%;
			text-transform: uppercase;
			color: #4a74b8;
		}
	}
	// .intro__text
	&__text {
		margin: 0px 0px 60px 0px;
		font-size: 18px;
		line-height: 30/18 * 100%;
		color: #010a29;
		@media (max-width: 1440.98px) {
			font-size: 16px;
			line-height: 28 / 16 * 100%;
			@include adaptiv-font(16, 14, 1);
			@include adaptiv-value("margin-bottom", 60, 20, 0);
		}
		@media (max-width: $md4+px) {
			line-height: 24 / 14 * 100%;
		}
	}
	// .intro__btn
	&__btn {
	}
	// .intro__img
	&__img {
		flex: 0 0 52%;
		@media (max-width: $md3+px) {
			display: none;
		}
		img {
			transform: translate(61px, -43px);
			@media (max-width: 1440.98px) {
				width: 507px;
				transform: translate(61px, 7px);
			}
			@media (max-width: $md1+px) {
				width: 427px;
			}
			@media (max-width: $md2+px) {
				width: 365px;
				transform: translate(21px, 0px);
			}
		}
	}
}

/* Product */
.product {
	width: 100%;
	margin: 0px 0px 61px 0px;
	// .product__wrapper
	&__wrapper {
		width: 100%;
	}
	// .product__title
	&__title {
		max-width: 569px;
		margin: 0px 0px 60px 0px;
	}
	// .product__body
	&__body {
		width: 100%;
	}
	// .product__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 62px;
		background: #f5f5f5;
	}
	// .product__navitem
	&__navitem {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 1 33%;
		min-height: 80px;
		font-weight: 700;
		font-size: 18px;
		line-height: 25/18 * 100%;
		text-align: center;
		text-transform: uppercase;
		color: #4a74b8;
		border-radius: 6px;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
		cursor: pointer;
		p {
			max-width: 346px;
		}
		&._active {
			color: #ffffff;
			background: #4a74b8;
			cursor: default;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ffffff;
				background: #4a74b8;
			}
		}
	}
	// .product__items
	&__items {
	}
	// .product__block
	&__block {
	}
	// .product__slider
	&__slider {
	}
}
.slider-product {
	position: relative;
	&__body._swiper {
		overflow-x: hidden;
	}
	&__slide {
		padding-bottom: 8px;
	}
	// .slider-product__img
	&__img {
		// flex: 0 0 34.64%;
		float: left;
		width: 31.64%;
		margin: 0 2.5% 0 0;
		img {
			width: 100%;
			height: 100%;
			max-width: 386px;
			max-height: 281px;
		}
	}
	// .slider-product__content
	&__content {
		// overflow: hidden;
	}
	// .slider-product__title
	&__title {
		margin: 0px 0px 20px 0px;
		font-weight: 700;
		font-size: 18px;
		line-height: 25/18 * 100%;
	}
	// .slider-product__text
	&__text {
		margin: 0px 0px 19px 0px;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		line-height: 136%;
		overflow: hidden;
		height: 124px;
		&._active {
			display: block;
			overflow: visible;
			height: auto;
			-webkit-line-clamp: initial;
			// -webkit-line-clamp: initial;
		}
		p {
			margin: 0px 0px 12px 0px;
			font-size: 14px;
			line-height: 136%;
		}
	}
	&__arrow {
		position: absolute;
		top: 133px;
		&--prev {
			left: -39px;
		}
		&--next {
			right: -39px;
		}
	}
	// .slider-product__btn
	&__btn {
	}
}
.btn-more {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 19/14 * 100%;
	color: #010a29;
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 16.6px;
		height: 9.5px;
		margin: 0px 0px 0px 5px;
		background: url("../img/icons/arrow-right.svg") 0 1px no-repeat;
		background-size: 16.6px auto;
		transition: transform 0.3s ease 0s;
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -8px;
		left: 0;
		background: #4a74b8;
		transition: all 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			&:after {
				transform: translate(8px, 0px);
			}
			&:before {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
